<h1>Test Header</h1>
<div id="gamestatconatainer">
    #set($count = 1)
    <div id="gamestats">
        #foreach( $player in $playerInfo)
            <div id="player$count" class="playerinfo">
                <h4>Player $count</h4>
                <p>
                    Name : 
                    <span class="pname">
                        $player.get("name")
                    </span>
                </p>

                <p>
                    Score :
                    <span class="pscore">
                        $player.get("score") 
                    </span>
                </p>
            </div>
            #set($count = $count + 1)
        #end
    </div>

    <div id="gameinfo">
        <div id="playerwhohasturn">
            <p><span id="pturn">$playerWhoHasTurn.get(0).player</span> make your move.</p>
        </div>
        <div id="drawinfo">Draws: <span id="ndraws">0</span></div>
    </div>
</div>

<div id="grid">
    <table>
        #set($id = 1)
        #set($rowCount = 1)
        #foreach($row in $gridInfo)
            #if($rowCount == 2)
                #set($class = "topBottom")
            #else
                #set($class = "")
            #end
            <tr id="row$rowCount">
                <td id="$id" class= "square $!class">
                    #if($row.token1Img.length() > 0)
                        <img src="$row.token1Img" alt ="tokenImg"/>
                    #end
                </td>
                #set($id = $id + 1)
                <td id="$id" class= "square sides $!class">
                    #if($row.token2Img.length() > 0)
                        <img src="$row.token2Img" alt ="tokenImg"/>
                    #end
                </td>
                #set($id = $id + 1)
                <td id="$id" class= "square $!class">
                    #if($row.token3Img.length() > 0)
                        <img src="$row.token3Img" alt ="tokenImg"/>
                    #end
                </td>
                #set($id = $id + 1)
            </tr>
            #set($rowCount = $rowCount + 1)
        #end
    </table>
    <div class="btncontainer-center">
        <button id="newgamebtn" class="btn">New Game</button>
    </div>
</div>